<div id="modernDataView"></div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            loadModernData();  
        })

        function loadModernData() {
            var partialUrl = "@Url.Action(MVC.Home.ModernDataView())"

            $.get(partialUrl, function (result) {
                $("#modernDataView").html(result);

                setTimeout(loadModernData, 2500);
            });
        }
    </script>
}